.cart {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(180, 183, 200);
    border-radius: 10px;
    padding: 10px;
    margin-right: 20px;
    flex: 0 0 auto; 
    cursor: pointer;
    transition: transform 0.2s ease, background-color 0.3s ease;
    color: #0159B8;
}

.cart:hover {
    background-color: whitesmoke; 
    transform: scale(1.05); 
    border: 1.5px solid #0159B8;
    color: #0159B8 ;
}

.cart img {
    height: 30px; 
    width: auto;
    margin-right: 5px; 
}
.cart a {
    color: #0159B8;
    text-decoration: none; 
    font-weight: bold;
}
.cart a:hover {
    color: #0159B8; 
    text-decoration: none; 
}
.cart p {
    color: #0159B8;
    font-size: 1rem;
    font-weight: bold;
    margin: 0;
    margin-left: 5px;
}

.ver-carrito-btn {
    margin-left: 10px;
    padding: 4px 8px;
    
    color: white;
    border: none;
    border-radius: 4px;
    text-decoration: none;
  }


  