.contacto {
  max-width: 600px;
  width: 90%;
  margin: 2rem auto;
  padding: 2rem;
  background-color: #0159b8;
  border-radius: 12px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.contacto h1 {
  font-size: 2rem;
  text-align: center;
  margin-bottom: 1.5rem;
  color: whitesmoke;
}

.contacto form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 100%;
}

.contacto label {
  font-weight: 500;
  color: #ffffff;
}

.contacto input,
.contacto textarea {
  padding: 0.6rem;
  border: 1px solid #ccc;
  border-radius: 8px;
  font-size: 1rem;
  background-color: #ffffff;
  color: #333;
}

.contacto textarea {
  min-height: 120px;
  resize: vertical;
}

.contacto button {
  padding: 0.75rem;
  background-color: whitesmoke;
  color: #043d7a;
  border: none;
  border-radius: 8px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s;
  margin-top: 2rem;
}

.contacto button:hover {
  background-color: #88888a;
  color: whitesmoke;
}

.contacto form div {
  display: flex;
  flex-direction: column;
}

