.main-content {
    display: flex;
    padding: 20px;
    background-color: #f1f1f1;
    min-height: calc(100vh - 160px); /* calcula menos navbar + footer */
    padding-right: 250px;
  }
  .menu-item-custom {
    color: black;
    transition: background 0.3s, color 0.3s;
  }
  
  .menu-item-custom:hover {
    background-color: #2e2e33 !important; /* Gris oscuro en hover */
    color: white !important;
  }
  
  .menu-item-custom a {
    color: inherit; /* Hace que el Link copie el color */
    text-decoration: none;
  }
  
  .menu-item-custom:hover a {
    color: white !important;
  }
body, #root {
    margin: 0;
    padding: 0;
    height: 100vh;
  }